[package]
name        = "linkpad"
edition     = { workspace = true }
license     = { workspace = true }
version     = { workspace = true }


[dependencies]
linkpad-core       = { workspace = true }
makepad-components = { workspace = true, features = ["Button", "Layout", "Card", "Dropdown", "Input", "Switch"] }
makepad-shell      = { workspace = true }
dirs               = "6.0.0"
serde              = { version = "1.0.228", features = ["derive"] }
serde_json         = "1.0.145"
